/*START OFFcavnas menu vertical*/
			
			.global-overlay {
				top: 0;
				left: 0;
				position: fixed;
				height: 100%;
				width: 100%;
				background-color: rgba(34, 34, 34, 0.7);
				z-index: 5000;
				visibility: hidden;
				opacity: 0;
				transition: all 200ms ease-out;
				box-sizing: border-box;
			}

			.body-open {
				overflow: hidden;
			}

			.offcanvas-navigation {
				position:fixed;
				top: 0;
				left: 0;
				visibility: hidden;
				opacity: 0;
				width: 350px;
				min-height: 100vh;
				display: block;
				height: 100%;
				z-index: 9999;
				background-color: #b34a4a;
				padding: 0 10px;
				transform: translate(-200px, 0);
				transition: all 400ms ease-out;
				overflow: auto;
			}

			.offcanvas-navigation__inner {
				padding: 100px 0;
			}
			.offcanvas-navigation__inner a{
				color: rgba(255, 255, 255, 0.9) !important;	
			}

			.offcanvas-menu li{
				list-style: none;
				position: relative;
				padding:4px;
			}
			
			.offcanvas-menu a:hover{
				color: #ffaa57 !important;		
			}

			.offcanvas-menu li.active > a {
				color: #ffaa57 !important;
			}

			.offcanvas-menu  span.menu-expand {
				position: absolute;
				top:10px;
				right: 2px;
				width: 50px;
				margin-right: 10px;
				line-height: 20px;
				text-align: center;
				z-index: 10;
			}

			.sub-menu {
				display: none;	
				padding: 10px 40px;				
			}
			.sub-menu li {
				padding: 5px 0;
			}
			.offcanvas-navigation__top {
				margin:0 20px;
			}

			.overlay-open, .menu-open {	
				opacity: 1;
				visibility: visible;
				transform: translate(0, 0);
			}
			.btn-close {
				position: absolute;
				right: 25px;
				top: 35px;

			}
			@media (max-width: 400px) {
				.offcanvas-navigation {
					width: 230px;
				}
			}
		
/*END OffCavnasMenu*/

/*START sub menu main*/
	
			.navbar-nav {
				position: relative;
				list-style: none;	
			}
			.navbar-nav a i {
				padding-left: 5px;
			}

			.sub-menu-main {
				list-style: none;
				background-color: #1b1b1b;
				position: absolute;	
				padding: 0;
				min-width: 200px;
				visibility: hidden;
				opacity: 0;
				display: block;
				transition: all 400ms ease-out;
			}
			.sub-menu-main li {
				position: relative;
				background-color: #212121;
				border-bottom: 1px solid #3c3b3b;
				border-radius: 2px;	
				box-shadow: 1px 5px 10px -5px black;
			}
			.sub-menu-main li a {
				padding-left: 20px !important;
				transition: all 450ms ease-out;	
			}
			.sub-menu-main li.active > a {
				color: #ce9c6b !important;
				transform: translate(10px, 0);
			}
			.sub-menu-main li:last-child {
				border-bottom: 0;
			}
			.sub-menu-main li a:hover {	
				color: #ce9c6b !important;
				transform: translate(10px, 0);
			}
			.navbar-nav li:hover .sub-menu-main {
				opacity: 1;
				visibility: visible;	
			}

/*END sub menu main*/

/* START Burger botton for menu*/
			/* nav-icon-4 */
			.nav-icon-4{
			  width: 25px;
			  height: 21px;
			  margin:5px 5px;
			  position: relative;
			  cursor: pointer;
			  display: inline-block;
			}
			.nav-icon-4 span{
			  background-color:#FFF;
			  position: absolute;
			  border-radius: 2px;
			  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
			}
			.nav-icon-4 span:nth-child(1){
			  width: 100%;
			  height:  2px;
			  display: block;
			  top: 0px;
			  left: 0px;
			}
			.nav-icon-4 span:nth-child(2){
			  width: 100%;
			  height:  2px;
			  display: block;
			  top: 9px;
			  left: 0px;
			}
			.nav-icon-4 span:nth-child(3){
			  width: 100%;
			  height:  2px;
			  display: block;
			  bottom: 0px;
			  left: 0px;
			}

			.nav-icon-4.open {
			  transform: rotate(90deg);
			}
			.nav-icon-4.open span:nth-child(1){
			  left:0px;
			  top: 9px;
			  width: 25px;
			  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
			  transform: rotate(90deg);
			  transition-delay: 150ms;
			}
			.nav-icon-4.open span:nth-child(2){
			  left:-3px;
			  top: 15px;
			  width: 18px;
			  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
			  transform: rotate(45deg);
			  transition-delay: 50ms;
			}
			.nav-icon-4.open span:nth-child(3){
			  left:10px;
			  top: 15px;
			  width: 18px;
			  	-webkit-transition: all 300ms cubic-bezier(.8, .5, .2, 1.4);
			    -moz-transition: all 300ms cubic-bezier(.8, .5, .2, 1.4);
			    -ms-transition: all 300ms cubic-bezier(.8, .5, .2, 1.4);
			    -o-transition: all 300ms cubic-bezier(.8, .5, .2, 1.4);
			  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
			  transform: rotate(-45deg);
			  transition-delay: 100ms;
			}

/* END Burger botton for menu*/

/* Scroll to Top Start */
			.scroll-to-top {
				position: fixed;
				right: 30px;
				bottom: 30px;
				height: 50px;
				width: 50px;
				font-size: 20px;
				z-index: 2000;
				text-align: center;
				line-height: 50px;
				opacity: 0;
				background-color: #212121;
				
				-webkit-transition: all 300ms ease;
			    -moz-transition: all 300ms ease;
			    -ms-transition: all 300ms ease;
			    -o-transition: all 300ms ease;
				transition: all 300ms ease-out;
				
				-webkit-animation: pulse 2s infinite;
    			animation: pulse 2s infinite;
			}
/* Scroll to Top END */